* {
    margin: 0;
    padding: 0;
}

form {
    margin: 0 auto;
}

th, tr, td {
    border: 1px solid black;
}

table {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    background-color: #CCC;
}

tr:nth-child(odd) {
    background-color: #EEE;
}

th, td {
    text-align: center;
    padding: 5px;
}